name: CI/CD Django Docker

on:
  push:
    branches:
      - main
      - wikman-kys
  pull_request:

jobs:

  tests:
    name: Run Django tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Django migrations
        env:
          DATABASE_URL: postgres://test:test@localhost:5432/testdb
        run: |
          python manage.py migrate

      - name: Run Django tests
        env:
          DATABASE_URL: postgres://test:test@localhost:5432/testdb
        run: |
          python manage.py test

  # AWS DEPLOY 
  # deploy:
  #   name: Deploy to AWS ECS
  #   runs-on: ubuntu-latest
  #   needs: docker
  #
  #   steps:
  #     - name: Checkout repo
  #       uses: actions/checkout@v4
  #
  #     - name: Configure AWS creds
  #       uses: aws-actions/configure-aws-credentials@v4
  #       with:
  #         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
  #         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  #         aws-region: eu-central-1
  #
  #     - name: Deploy new image to ECS service
  #       run: |
  #         aws ecs update-service \
  #           --cluster myCluster \
  #           --service myService \
  #           --force-new-deployment
